.container {
  font-size: 0.9rem;
}

.listContainer {
  margin: 0;
  border-bottom: 1px solid gray;
}

.title {
  padding: 1rem;
  margin-top: 1rem;
}

.list {
  cursor: pointer;
  padding: 1rem;
  height: 100%;
}

.list:hover {
  background-color: #595959;
}

.checked {
  background-color: #595959;
}
